@model FIapSmartCity.Models.TipoProduto

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Tipo de Produto - Cadastrar</title>
	</head>
	<body>
		<h1>Tipo de Produto - Cadastrar</h1>

		<!--formulario html com Tag Helpers-->
		<form asp-action="Cadastrar" asp-controller="TipoProduto" method="post">
			<div class="form-horizontal">
				<hr />
				<!--trecho de validacao para se existe mensagem a ser exibida-->
			@if (!Html.ViewData.ModelState.IsValid)
			{
				<!--tag para exibicao da lista de erros-->
				<div asp-validation-summary="All" class="alert alert-danger" /> <div/>
			}
				<div class="form-group">
					<label>Descrição</label>
					<div class="col-md-10">
						<!--Caixa de texto-->
						<input asp-for="DescricaoTipo"/>
					</div>
				</div>
				<div class="form-group">
					<label>Comercializado</label>
					<div class="checkbox">
						<!--Checkbox-->
						<input asp-for="Comercializado" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="reset" value="Limpar" class="btn btn-primary" />
						<!--html simple para envio dos dados do formulario-->
						<input type="submit" value="Cadastrar" class="btn btn-success" />
					</div>
				</div>
				<hr />
			</div>
		</form>
		<div>
			<a asp-controller="TipoProduto" asp-action="Index">Voltar</a>
		</div>
	</body>
</html>