@model FIapSmartCity.Models.TipoProduto

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Tipo de Produto - Editar</title>
	</head>
	<body>
		<h1>Tipo de Produto - Editar</h1>

		<!--formulario html com Tag Helpers-->
		<form asp-action="Editar" asp-controller="TipoProduto" method="post">
			<!--campo oculto para guardar qual Id (chave) do registro alterado-->
			<input type="hidden" asp-for="IdTipo" />
			<div class="form-horizontal">
				<hr />
				<div class="form-group">
					<label>Descrição</label>
					<div class="col-md-10">
						<!--Caixa de texto-->
						<input asp-for="DescricaoTipo"/>
					</div>
				</div>
				<div class="form-group">
					<label>Comercializado</label>
					<div class="checkbox">
						<!--Checkbox-->
						<input asp-for="Comercializado" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="reset" value="Limpar" class="btn btn-primary" />
						<!--html simple para envio dos dados do formulario-->
						<input type="submit" value="Gravar Alteração" class="btn btn-success" />
					</div>
				</div>
				<hr />
			</div>
		</form>
		<div>
			<a asp-controller="TipoProduto" asp-action="Index">Voltar</a>
		</div>
	</body>
</html>